{% extends 'base.html.twig' %}

{% block body %}

    <div class="flexbox">
        <h1 class="flexbox-heading-style">Hello Shorty User</h1>
        <div class="formbox">
            <form class="formbox-form-flex" method="POST" action="{{ url('url_store') }}">
                <label for="url" class="formbox-label-style">Inserisci URL da Accorciare</label>
                <input id="urlInput" class="formbox-input-style" type="text" id="url" name="url" placeholder="URL">
                <button id="urlSubmitBtn" class="formbox-btn-style" type="submit">Vai Shorty</button>
            </form>

            {%- for errors in app.session.flashbag.get('errors') -%}
                    <ul class="errorslist">
                        {%- for error in errors -%}

                            <li class="errorslist-error-style">{{ error.message }}</li>
                        {%- endfor -%}
                    </ul>
            {%- endfor -%}
            {%- for message in app.session.flashbag.get('success') -%}
                <ul class="errorslist">
                    <li class="errorslist-error-style">{{ message }}</li>
                </ul>
            {%- endfor -%}

        </div>
    </div>

{% endblock %}
